<div class="container">


<div class="mb-5">
    <h1>Add Time Log</h1>
</div>









<div class="row mt-2">
    <div class="col-lg-1"><label class="label-control">Employee:</label></div>
    <div class="col-lg-4">

        <select [(ngModel)]='empSheet.EmployeeId' class="form-control" disabled>
    <option *ngFor="let emp of employeesList" [ngValue]="emp.id"  [selected]="emp.id == empSheet.EmployeeId">
        {{emp.name}}
    </option>
</select>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-1"><label class="label-control">Task:</label></div>


    <div class="col-lg-4">
        <select [(ngModel)]='empSheet.TaskId' class="form-control" (ngModelChange)='onOptionsSelected($event)'>
    <option *ngFor="let task of taskList" [ngValue]="task.id"  [selected]="task.id == empSheet.TaskId">
        {{task.name}}
    </option>
</select>
    </div>
</div>




<div class="row mt-2">
    <div class="col-lg-1"><label class="label-control">Task Date:</label></div>
    <div class="col-lg-4">

        <input type="date" class="form-control" [max]="currDate" [(ngModel)]='empSheet.WorkingDate' />

    </div>
</div>
<div class="row mt-2">

    <div class="col-lg-1"><label class="label-control">Hours:</label></div>


    <div class="col-lg-4">
        <input type="number" class="form-control" [(ngModel)]='empSheet.WorkingHours' />
    </div>

</div>

<div class="row mt-2">
    <div class="col-lg-5 text-center"><input type="button" class="btn btn-primary" (click)='saveSheet()' value="Save" />
    </div>
</div>
</div>