<div class="mb-2">
    <h1>Employee Sheet:</h1>
</div>
<div class="row mt-2 mb-2">
    <div class="col-lg-1"><label class="label-control">Employee:</label></div>
    <div class="col-lg-4">
        <select [(ngModel)]='currEmpId' class="form-control" (ngModelChange)='onSelectedModelChange($event)'>
    <option *ngFor="let emp of employeeList" [ngValue]="emp.id"  [selected]="emp.id == optionSelected">
        {{emp.name}}
    </option>
</select>
    </div>
    <div class="col-lg-7 text-right"><button class="btn btn-link" [routerLink]="['/addtimelog', currEmpId]">Add Time Log</button>
    </div>
</div>

<table class="table table-stripped">
    <tr class="table-primary">
        <th>Task</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wenesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>

    </tr>
    <tr *ngFor="let sheet of sheets">
        <td>{{sheet.task}}</td>
        <td>{{sheet.mondayHours}}</td>
        <td>{{sheet.tuesdayHours}}</td>
        <td>{{sheet.wenesdayHours}}</td>
        <td>{{sheet.thursdayHours}}</td>
        <td>{{sheet.fridayHours}}</td>
        <td>{{sheet.saturdayHours}}</td>
        <td>{{sheet.sundayHours}}</td>
    </tr>
    <tr *ngIf="sheets.length">
        <td>Total</td>
        <td>{{getColSum('mondayHours')}}</td>
        <td>{{getColSum('tuesdayHours')}}</td>
        <td>{{getColSum('wenesdayHours')}}</td>
        <td>{{getColSum('thursdayHours')}}</td>
        <td>{{getColSum('fridayHours')}}</td>
        <td>{{getColSum('saturdayHours')}}</td>
        <td>{{getColSum('sundayHours')}}</td>
    </tr>
    <tr *ngIf="!sheets.length">
        <td colspan="8">No record found!</td>
    </tr>
</table>

<div class="text-right mt-5">
    <a class="btn btn-link" routerLink='/employeelist'>View Employee List</a>
    <div>